docs/soap/contact/ContactAPI_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://connectwise.com" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://connectwise.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>ConnectWise Contact API</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://connectwise.com">
      <s:element name="GetAllContactNotes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ApiCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="IntegratorLoginId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="IntegratorPassword" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllContactNotesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllContactNotesResult" type="tns:ArrayOfContactNote"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactNote">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactNote" nillable="true" type="tns:ContactNote"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactNote">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="NoteType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="NoteText" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="IsFlagged" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="EnteredBy" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastUpdatedBy" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdatedOn" nillable="true" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="noteId" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactNoteResult" type="tns:ContactNote"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateContactNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="note" type="tns:ContactNote"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateContactNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrUpdateContactNoteResult" type="tns:ContactNote"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteNoteResponse">
        <s:complexType/>
      </s:element>
      <s:element name="GetAllContactCommunicationItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllContactCommunicationItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllContactCommunicationItemsResult" type="tns:ArrayOfContactCommunicationItem"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactCommunicationItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactCommunicationItem" nillable="true" type="tns:ContactCommunicationItem"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactCommunicationItem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:CommunicationType"/>
          <s:element minOccurs="1" maxOccurs="1" name="CommunicationTypeId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ValueExtension" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="IsDefaultForType" nillable="true" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="CommunicationType">
        <s:restriction base="s:string">
          <s:enumeration value="Unknown"/>
          <s:enumeration value="EmailAddress"/>
          <s:enumeration value="PhoneNumber"/>
          <s:enumeration value="FaxNumber"/>
        </s:restriction>
      </s:simpleType>
      <s:element name="GetAllCommunicationTypesAndDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCommunicationTypesAndDescriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCommunicationTypesAndDescriptionResult" type="tns:ArrayOfCommunicationTypeDescriptions"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommunicationTypeDescriptions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommunicationTypeDescriptions" nillable="true" type="tns:CommunicationTypeDescriptions"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommunicationTypeDescriptions">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Description" type="s:string"/>
        </s:sequence>
        <s:attribute name="Type" type="tns:CommunicationType" use="required"/>
      </s:complexType>
      <s:element name="GetContactCommunicationItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="communicationType" type="tns:CommunicationType"/>
            <s:element minOccurs="0" maxOccurs="1" name="communicationDescription" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactCommunicationItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactMethod" nillable="true" type="tns:ContactCommunicationItem"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateContactCommunicationItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="ContactMethod" nillable="true" type="tns:ContactCommunicationItem"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateContactCommunicationItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactMethod" nillable="true" type="tns:ContactCommunicationItem"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContactCommunicationItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="communicationType" type="tns:CommunicationType"/>
            <s:element minOccurs="0" maxOccurs="1" name="communicationDescription" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContactCommunicationItemResponse">
        <s:complexType/>
      </s:element>
      <s:element name="SetDefaultContactCommunicationItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="communicationType" type="tns:CommunicationType"/>
            <s:element minOccurs="0" maxOccurs="1" name="communicationDescription" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetDefaultContactCommunicationItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ContactMethod" nillable="true" type="tns:ContactCommunicationItem"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContactResult" type="tns:Contact"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Relationship" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ContactRecID" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PhoneExt" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Fax" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FaxExt" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PersonalAddress" type="tns:Address"/>
          <s:element minOccurs="0" maxOccurs="1" name="NickName" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Gender" type="tns:ApiGender"/>
          <s:element minOccurs="0" maxOccurs="1" name="School" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="BirthDay" type="s:dateTime"/>
          <s:element minOccurs="1" maxOccurs="1" name="Married" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="Children" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="SignificantOther" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="Anniversary" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyAddressInfo" type="tns:CompanyAddressInfo"/>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyId" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortalPassword" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PortalSecurityLevel" type="s:short"/>
          <s:element minOccurs="1" maxOccurs="1" name="DisablePortalLogin" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="Inactive" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="UnsubscribeFlag" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phones" type="tns:ArrayOfContactCommunicationItem"/>
          <s:element minOccurs="0" maxOccurs="1" name="Emails" type="tns:ArrayOfContactCommunicationItem"/>
          <s:element minOccurs="0" maxOccurs="1" name="Faxes" type="tns:ArrayOfContactCommunicationItem"/>
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PersonalAddressFlag" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="Address">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="StreetLines" type="tns:ArrayOfString"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ApiGender">
        <s:restriction base="s:string">
          <s:enumeration value="Male"/>
          <s:enumeration value="Female"/>
          <s:enumeration value="Unspecified"/>
        </s:restriction>
      </s:simpleType>
      <s:complexType name="CompanyAddressInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="LoadContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoadContactResult" type="tns:Contact"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrUpdateContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrUpdateContactResult" type="tns:Contact"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteContactResponse">
        <s:complexType/>
      </s:element>
      <s:element name="FindCompanies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="conditions" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="limit" nillable="true" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="skip" nillable="true" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCompaniesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCompaniesResult" type="tns:ArrayOfContactFindResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContactFindResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContactFindResult" nillable="true" type="tns:ContactFindResult"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContactFindResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyRecID" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Relationship" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DefaultFlag" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PortalSecurityLevel" type="s:short"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortalSecurityCaption" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="DisablePortalLogin" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdate" type="s:dateTime"/>
          <s:element minOccurs="0" maxOccurs="1" name="UpdatedBy" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ContactRecID" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="FindContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="conditions" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="orderBy" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="limit" nillable="true" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="skip" nillable="true" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="marketingGroupFilter" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindContactsResult" type="tns:ArrayOfContactFindResult"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindContactsCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="conditions" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindContactsCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FindContactsCountResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContactToGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="transactionNote" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddContactToGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddContactToGroupResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveContactFromGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="1" maxOccurs="1" name="contactID" type="s:int"/>
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="transactionNote" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveContactFromGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveContactFromGroupResult" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="loginpw" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="machineId" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="portalName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateResult" type="tns:AuthenticationResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AuthenticationResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="CompanyId" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="ContactId" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="HasError" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorType" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortalCompanyName" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="PortalConfigId" type="s:int"/>
          <s:element minOccurs="0" maxOccurs="1" name="MachineId" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="ConfigId" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPortalConfigSettings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="portalName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortalConfigSettingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortalConfigSettingsResult" type="tns:PortalConfigSettings"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PortalConfigSettings">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PortalName" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="BackgroundColor" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MenuColor" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ButtonColor" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="HeaderColor" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="WelcomeText" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortalLanguage" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrTypeFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrSubTypeFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrSubTypeItemFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrContactFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrEnteredFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrStatusFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrSiteFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrUpdateFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrResourcesFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrRequiredFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="ShowSlaInfoFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrBoardFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrBudgetFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrActualFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrApprovedFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrOpenTasksFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="SrClosedTasksFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmNameFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmTypeFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmStatusFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmManagerFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmBillingMethodFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmContactFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmEstimatedStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmEstimatedEndFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmDescriptionFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PmLastUpdatedFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="ShowInvPmtFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="AllowInvPmtFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="StatementReportOwnerLevelRecId" nillable="true" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="StatementReportOwnerLevelRecIdSetByUser" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmBudgetHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmScheduledStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmScheduledFinishFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmScheduledHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmActualStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmActualFinishFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmActualHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmBillFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmStatusFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="TmAssignedFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfBudgetHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfScheduledStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfScheduledFinishFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfScheduledHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfActualStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfActualFinishFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfActualHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfBillFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfStatusFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="FfAssignedFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiBudgetHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiScheduledStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiScheduledFinishFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiScheduledHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiActualStartFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiActualFinishFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiActualHrsFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiBillFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiStatusFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PiAssignedFlag" nillable="true" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortalImage" type="tns:PortalImage"/>
          <s:element minOccurs="0" maxOccurs="1" name="CountryCaption" type="tns:CountryCaption"/>
          <s:element minOccurs="0" maxOccurs="1" name="MouseOverData" type="tns:MouseOverData"/>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int"/>
          <s:element minOccurs="1" maxOccurs="1" name="DefaultFlag" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PortalImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IconServiceEntry" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="IconCompanyEntries" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="IconSelfHelp" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="IconKnowledgebase" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="IconMembers" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="IconInvoiceSearch" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="IconReports" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="LoginLogo" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="PortalLogo" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="LoginMasthead" type="tns:PortalImageBase"/>
          <s:element minOccurs="0" maxOccurs="1" name="ReportLogo" type="tns:PortalImageBase"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PortalImageBase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="UrlFlag" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="PortalImageId" type="s:int"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="CountryCaption">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="MouseOverData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TicketStatus" type="tns:LongDescription"/>
          <s:element minOccurs="1" maxOccurs="1" name="IsTicketStatusLoaded" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="LongDescription">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LongDesc" type="tns:ArrayOfString"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPortalSecurity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="poralCompName" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="portalContId" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortalSecurityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortalSecurityResult" type="tns:ArrayOfPortalSecurity"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPortalSecurity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PortalSecurity" nillable="true" type="tns:PortalSecurity"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="PortalSecurity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SecurityId" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="SecurityEnabled" type="s:boolean"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetPortalLoginCustomizations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="portalName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortalLoginCustomizationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortalLoginCustomizationsResult" type="tns:PortalLoginCustomization"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PortalLoginCustomization">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LoginColor" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Locale" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="RequestPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestPasswordResponse">
        <s:complexType/>
      </s:element>
      <s:element name="GetAvatarImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="credentials" type="tns:ApiCredentials"/>
            <s:element minOccurs="0" maxOccurs="1" name="imageId" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvatarImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvatarImageResult" type="s:base64Binary"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllContactNotesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllContactNotes"/>
  </wsdl:message>
  <wsdl:message name="GetAllContactNotesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllContactNotesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContactNoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactNote"/>
  </wsdl:message>
  <wsdl:message name="GetContactNoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactNoteResponse"/>
  </wsdl:message>
  <wsdl:message name="AddOrUpdateContactNoteSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateContactNote"/>
  </wsdl:message>
  <wsdl:message name="AddOrUpdateContactNoteSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateContactNoteResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteNote"/>
  </wsdl:message>
  <wsdl:message name="DeleteNoteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteNoteResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllContactCommunicationItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllContactCommunicationItems"/>
  </wsdl:message>
  <wsdl:message name="GetAllContactCommunicationItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllContactCommunicationItemsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAllCommunicationTypesAndDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCommunicationTypesAndDescription"/>
  </wsdl:message>
  <wsdl:message name="GetAllCommunicationTypesAndDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCommunicationTypesAndDescriptionResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContactCommunicationItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactCommunicationItem"/>
  </wsdl:message>
  <wsdl:message name="GetContactCommunicationItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactCommunicationItemResponse"/>
  </wsdl:message>
  <wsdl:message name="AddOrUpdateContactCommunicationItemSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateContactCommunicationItem"/>
  </wsdl:message>
  <wsdl:message name="AddOrUpdateContactCommunicationItemSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateContactCommunicationItemResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteContactCommunicationItemSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContactCommunicationItem"/>
  </wsdl:message>
  <wsdl:message name="DeleteContactCommunicationItemSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContactCommunicationItemResponse"/>
  </wsdl:message>
  <wsdl:message name="SetDefaultContactCommunicationItemSoapIn">
    <wsdl:part name="parameters" element="tns:SetDefaultContactCommunicationItem"/>
  </wsdl:message>
  <wsdl:message name="SetDefaultContactCommunicationItemSoapOut">
    <wsdl:part name="parameters" element="tns:SetDefaultContactCommunicationItemResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContactSoapIn">
    <wsdl:part name="parameters" element="tns:GetContact"/>
  </wsdl:message>
  <wsdl:message name="GetContactSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactResponse"/>
  </wsdl:message>
  <wsdl:message name="LoadContactSoapIn">
    <wsdl:part name="parameters" element="tns:LoadContact"/>
  </wsdl:message>
  <wsdl:message name="LoadContactSoapOut">
    <wsdl:part name="parameters" element="tns:LoadContactResponse"/>
  </wsdl:message>
  <wsdl:message name="AddOrUpdateContactSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrUpdateContact"/>
  </wsdl:message>
  <wsdl:message name="AddOrUpdateContactSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrUpdateContactResponse"/>
  </wsdl:message>
  <wsdl:message name="DeleteContactSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteContact"/>
  </wsdl:message>
  <wsdl:message name="DeleteContactSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteContactResponse"/>
  </wsdl:message>
  <wsdl:message name="FindCompaniesSoapIn">
    <wsdl:part name="parameters" element="tns:FindCompanies"/>
  </wsdl:message>
  <wsdl:message name="FindCompaniesSoapOut">
    <wsdl:part name="parameters" element="tns:FindCompaniesResponse"/>
  </wsdl:message>
  <wsdl:message name="FindContactsSoapIn">
    <wsdl:part name="parameters" element="tns:FindContacts"/>
  </wsdl:message>
  <wsdl:message name="FindContactsSoapOut">
    <wsdl:part name="parameters" element="tns:FindContactsResponse"/>
  </wsdl:message>
  <wsdl:message name="FindContactsCountSoapIn">
    <wsdl:part name="parameters" element="tns:FindContactsCount"/>
  </wsdl:message>
  <wsdl:message name="FindContactsCountSoapOut">
    <wsdl:part name="parameters" element="tns:FindContactsCountResponse"/>
  </wsdl:message>
  <wsdl:message name="AddContactToGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddContactToGroup"/>
  </wsdl:message>
  <wsdl:message name="AddContactToGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddContactToGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="RemoveContactFromGroupSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveContactFromGroup"/>
  </wsdl:message>
  <wsdl:message name="RemoveContactFromGroupSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveContactFromGroupResponse"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPortalConfigSettingsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortalConfigSettings"/>
  </wsdl:message>
  <wsdl:message name="GetPortalConfigSettingsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortalConfigSettingsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPortalSecuritySoapIn">
    <wsdl:part name="parameters" element="tns:GetPortalSecurity"/>
  </wsdl:message>
  <wsdl:message name="GetPortalSecuritySoapOut">
    <wsdl:part name="parameters" element="tns:GetPortalSecurityResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPortalLoginCustomizationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortalLoginCustomizations"/>
  </wsdl:message>
  <wsdl:message name="GetPortalLoginCustomizationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortalLoginCustomizationsResponse"/>
  </wsdl:message>
  <wsdl:message name="RequestPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:RequestPassword"/>
  </wsdl:message>
  <wsdl:message name="RequestPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:RequestPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="GetAvatarImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvatarImage"/>
  </wsdl:message>
  <wsdl:message name="GetAvatarImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvatarImageResponse"/>
  </wsdl:message>
  <wsdl:portType name="ContactApiSoap">
    <wsdl:operation name="GetAllContactNotes">
      <wsdl:documentation>Gets all notes for contact by database record id. If no contact exists with the given id, null is returned.</wsdl:documentation>
      <wsdl:input message="tns:GetAllContactNotesSoapIn"/>
      <wsdl:output message="tns:GetAllContactNotesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetContactNote">
      <wsdl:documentation>Gets a note for contact by database record id. If no contact exists with the given id, null is returned.</wsdl:documentation>
      <wsdl:input message="tns:GetContactNoteSoapIn"/>
      <wsdl:output message="tns:GetContactNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContactNote">
      <wsdl:documentation>Adds or updates a contact note. If the note Id is 0, and the contactId is set; the note is added. If non-zero, the existing note with that Id is updated.</wsdl:documentation>
      <wsdl:input message="tns:AddOrUpdateContactNoteSoapIn"/>
      <wsdl:output message="tns:AddOrUpdateContactNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <wsdl:documentation>Deletes a note by database record id.</wsdl:documentation>
      <wsdl:input message="tns:DeleteNoteSoapIn"/>
      <wsdl:output message="tns:DeleteNoteSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAllContactCommunicationItems">
      <wsdl:documentation>Gets all communication items for contact by database record id. If no contact exists with the given id, null is returned.</wsdl:documentation>
      <wsdl:input message="tns:GetAllContactCommunicationItemsSoapIn"/>
      <wsdl:output message="tns:GetAllContactCommunicationItemsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAllCommunicationTypesAndDescription">
      <wsdl:documentation>Gets all communication types and descriptions.</wsdl:documentation>
      <wsdl:input message="tns:GetAllCommunicationTypesAndDescriptionSoapIn"/>
      <wsdl:output message="tns:GetAllCommunicationTypesAndDescriptionSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetContactCommunicationItem">
      <wsdl:documentation>Gets a communication item for contact by database record contactId. If no contact exists with the given id, null is returned.</wsdl:documentation>
      <wsdl:input message="tns:GetContactCommunicationItemSoapIn"/>
      <wsdl:output message="tns:GetContactCommunicationItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContactCommunicationItem">
      <wsdl:documentation>Adds or updates a communication item. If the communicationItem Id is 0, the communicationItem is added. If non-zero, the existing communicationItem with that Id is updated.</wsdl:documentation>
      <wsdl:input message="tns:AddOrUpdateContactCommunicationItemSoapIn"/>
      <wsdl:output message="tns:AddOrUpdateContactCommunicationItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactCommunicationItem">
      <wsdl:documentation>Deletes a communication by database record for contactId, communcationType, and communicationDescription.</wsdl:documentation>
      <wsdl:input message="tns:DeleteContactCommunicationItemSoapIn"/>
      <wsdl:output message="tns:DeleteContactCommunicationItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultContactCommunicationItem">
      <wsdl:documentation>Sets the default communicationType for contactId, communcationType, and communicationDescription.</wsdl:documentation>
      <wsdl:input message="tns:SetDefaultContactCommunicationItemSoapIn"/>
      <wsdl:output message="tns:SetDefaultContactCommunicationItemSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <wsdl:documentation>Gets a contact by database record id. If no contact exists with the given id, null is returned.</wsdl:documentation>
      <wsdl:input message="tns:GetContactSoapIn"/>
      <wsdl:output message="tns:GetContactSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="LoadContact">
      <wsdl:documentation>Gets a contact by database record id. If no contact exists with the given id, an error is returned.</wsdl:documentation>
      <wsdl:input message="tns:LoadContactSoapIn"/>
      <wsdl:output message="tns:LoadContactSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContact">
      <wsdl:documentation>Adds or updates a contact. If the contact Id is 0, the contact is added. If non-zero, the existing contact with that Id is updated.</wsdl:documentation>
      <wsdl:input message="tns:AddOrUpdateContactSoapIn"/>
      <wsdl:output message="tns:AddOrUpdateContactSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <wsdl:documentation>Deletes a contact by database record id.</wsdl:documentation>
      <wsdl:input message="tns:DeleteContactSoapIn"/>
      <wsdl:output message="tns:DeleteContactSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindCompanies">
      <wsdl:documentation>Finds contact information by a set of conditions.</wsdl:documentation>
      <wsdl:input message="tns:FindCompaniesSoapIn"/>
      <wsdl:output message="tns:FindCompaniesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindContacts">
      <wsdl:documentation>Finds contact information by a set of conditions.</wsdl:documentation>
      <wsdl:input message="tns:FindContactsSoapIn"/>
      <wsdl:output message="tns:FindContactsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="FindContactsCount">
      <wsdl:documentation>Finds a count of available contacts by a set of conditions.</wsdl:documentation>
      <wsdl:input message="tns:FindContactsCountSoapIn"/>
      <wsdl:output message="tns:FindContactsCountSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AddContactToGroup">
      <wsdl:documentation>Adds a contact to a specified group.</wsdl:documentation>
      <wsdl:input message="tns:AddContactToGroupSoapIn"/>
      <wsdl:output message="tns:AddContactToGroupSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RemoveContactFromGroup">
      <wsdl:documentation>Removes a contact from the specified group.</wsdl:documentation>
      <wsdl:input message="tns:RemoveContactFromGroupSoapIn"/>
      <wsdl:output message="tns:RemoveContactFromGroupSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:documentation>Authenticate a contact logging into the portal.</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateSoapIn"/>
      <wsdl:output message="tns:AuthenticateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPortalConfigSettings">
      <wsdl:documentation>Return the configuration settings for the specified portal.</wsdl:documentation>
      <wsdl:input message="tns:GetPortalConfigSettingsSoapIn"/>
      <wsdl:output message="tns:GetPortalConfigSettingsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPortalSecurity">
      <wsdl:documentation>Return the security settings for the contact logged into the portal.</wsdl:documentation>
      <wsdl:input message="tns:GetPortalSecuritySoapIn"/>
      <wsdl:output message="tns:GetPortalSecuritySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPortalLoginCustomizations">
      <wsdl:documentation>Get the login page customizations for the specified portal.</wsdl:documentation>
      <wsdl:input message="tns:GetPortalLoginCustomizationsSoapIn"/>
      <wsdl:output message="tns:GetPortalLoginCustomizationsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RequestPassword">
      <wsdl:documentation>Runs the "Forgot Password" process on the server.</wsdl:documentation>
      <wsdl:input message="tns:RequestPasswordSoapIn"/>
      <wsdl:output message="tns:RequestPasswordSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarImage">
      <wsdl:documentation>Gets an avatar image from the server.</wsdl:documentation>
      <wsdl:input message="tns:GetAvatarImageSoapIn"/>
      <wsdl:output message="tns:GetAvatarImageSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactApiSoap" type="tns:ContactApiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllContactNotes">
      <soap:operation soapAction="http://connectwise.com/GetAllContactNotes" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactNote">
      <soap:operation soapAction="http://connectwise.com/GetContactNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContactNote">
      <soap:operation soapAction="http://connectwise.com/AddOrUpdateContactNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap:operation soapAction="http://connectwise.com/DeleteNote" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContactCommunicationItems">
      <soap:operation soapAction="http://connectwise.com/GetAllContactCommunicationItems" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCommunicationTypesAndDescription">
      <soap:operation soapAction="http://connectwise.com/GetAllCommunicationTypesAndDescription" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactCommunicationItem">
      <soap:operation soapAction="http://connectwise.com/GetContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContactCommunicationItem">
      <soap:operation soapAction="http://connectwise.com/AddOrUpdateContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactCommunicationItem">
      <soap:operation soapAction="http://connectwise.com/DeleteContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultContactCommunicationItem">
      <soap:operation soapAction="http://connectwise.com/SetDefaultContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://connectwise.com/GetContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadContact">
      <soap:operation soapAction="http://connectwise.com/LoadContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContact">
      <soap:operation soapAction="http://connectwise.com/AddOrUpdateContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap:operation soapAction="http://connectwise.com/DeleteContact" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompanies">
      <soap:operation soapAction="http://connectwise.com/FindCompanies" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContacts">
      <soap:operation soapAction="http://connectwise.com/FindContacts" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContactsCount">
      <soap:operation soapAction="http://connectwise.com/FindContactsCount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContactToGroup">
      <soap:operation soapAction="http://connectwise.com/AddContactToGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveContactFromGroup">
      <soap:operation soapAction="http://connectwise.com/RemoveContactFromGroup" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://connectwise.com/Authenticate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortalConfigSettings">
      <soap:operation soapAction="http://connectwise.com/GetPortalConfigSettings" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortalSecurity">
      <soap:operation soapAction="http://connectwise.com/GetPortalSecurity" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortalLoginCustomizations">
      <soap:operation soapAction="http://connectwise.com/GetPortalLoginCustomizations" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPassword">
      <soap:operation soapAction="http://connectwise.com/RequestPassword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarImage">
      <soap:operation soapAction="http://connectwise.com/GetAvatarImage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactApiSoap12" type="tns:ContactApiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAllContactNotes">
      <soap12:operation soapAction="http://connectwise.com/GetAllContactNotes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactNote">
      <soap12:operation soapAction="http://connectwise.com/GetContactNote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContactNote">
      <soap12:operation soapAction="http://connectwise.com/AddOrUpdateContactNote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteNote">
      <soap12:operation soapAction="http://connectwise.com/DeleteNote" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllContactCommunicationItems">
      <soap12:operation soapAction="http://connectwise.com/GetAllContactCommunicationItems" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCommunicationTypesAndDescription">
      <soap12:operation soapAction="http://connectwise.com/GetAllCommunicationTypesAndDescription" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactCommunicationItem">
      <soap12:operation soapAction="http://connectwise.com/GetContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContactCommunicationItem">
      <soap12:operation soapAction="http://connectwise.com/AddOrUpdateContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContactCommunicationItem">
      <soap12:operation soapAction="http://connectwise.com/DeleteContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultContactCommunicationItem">
      <soap12:operation soapAction="http://connectwise.com/SetDefaultContactCommunicationItem" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContact">
      <soap12:operation soapAction="http://connectwise.com/GetContact" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadContact">
      <soap12:operation soapAction="http://connectwise.com/LoadContact" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdateContact">
      <soap12:operation soapAction="http://connectwise.com/AddOrUpdateContact" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContact">
      <soap12:operation soapAction="http://connectwise.com/DeleteContact" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCompanies">
      <soap12:operation soapAction="http://connectwise.com/FindCompanies" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContacts">
      <soap12:operation soapAction="http://connectwise.com/FindContacts" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindContactsCount">
      <soap12:operation soapAction="http://connectwise.com/FindContactsCount" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContactToGroup">
      <soap12:operation soapAction="http://connectwise.com/AddContactToGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveContactFromGroup">
      <soap12:operation soapAction="http://connectwise.com/RemoveContactFromGroup" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://connectwise.com/Authenticate" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortalConfigSettings">
      <soap12:operation soapAction="http://connectwise.com/GetPortalConfigSettings" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortalSecurity">
      <soap12:operation soapAction="http://connectwise.com/GetPortalSecurity" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPortalLoginCustomizations">
      <soap12:operation soapAction="http://connectwise.com/GetPortalLoginCustomizations" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPassword">
      <soap12:operation soapAction="http://connectwise.com/RequestPassword" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvatarImage">
      <soap12:operation soapAction="http://connectwise.com/GetAvatarImage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactApi">
    <wsdl:documentation>ConnectWise Contact API</wsdl:documentation>
    <wsdl:port name="ContactApiSoap" binding="tns:ContactApiSoap">
      <soap:address location="https://test.connectwise.com/v4_6_release/apis/1.5/ContactAPI.asmx"/>
    </wsdl:port>
    <wsdl:port name="ContactApiSoap12" binding="tns:ContactApiSoap12">
      <soap12:address location="https://test.connectwise.com/v4_6_release/apis/1.5/ContactAPI.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>